body{
    background-color:blanchedalmond;
    color:black;
    font-size:large;
    font-style: italic;
    
}
.one{
    color:darkblue;
    font-size:xx-large;
    font-style: italic;
}
.two{
    color: palevioletred;
    font-size: x-large;
    font-style: oblique;
}
#one{
    color: darkred;

}
h1{
    color:rgb(97, 0, 100);
    text-align: center;
}

ul{
    margin-left:  550px;  
}

h2{
    text-align: center;
}
h1{
    font-size: xx-large;
    font-style: italic;
    color:brown;
}
tr{
    margin-left: 550px;
}
.seafoods{
    background-color: aqua;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
width: 550px; 
padding: 15px;  
}
.fastfoods{
    background-color: aqua;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
width: 550px; 
padding:15px;  
}
.others{
    background-color: aqua;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
width: 550px; 
padding: 15px;  
}
.menu{
    text-align:center;
}
.seafoods:hover{
    background-color:purple;
    color:white;

}
.fastfoods:hover{
    background-color:purple;
    color:white;
}
    .others:hover{
        background-color:purple;
        color:white;
    }
    footer{
        text-align: center;
        padding: 1rem;
        background-color: black;
        color: white;
    }